
@import "./no_select.mixin.scss";
.form{
    background-color: whitesmoke;
    display: flex;
   flex-direction: column;
    gap:.5rem;
    box-sizing: border-box;
    padding: 1rem;
    border-radius: var(--common_border_radius);
    width: 100vw;
align-items: center;
}
.form__item{
width: 100%;
display: flex;
flex-direction: column;
}
.form__actions{
    display: flex;
    gap: .5rem;
    justify-content: flex-end;
    width: 100%;
}
label{
text-align: left;
gap:1rem;
font-size: small;
font-weight: bold;
color: green;
@include noselect
}
